<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.billy.spaceapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/blastoff_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Train.TrainActivity" />
        <activity android:name=".Learn.LearnActivity">
        </activity>
        <activity android:name=".CreateActivity"
            android:theme="@style/AppThemeActionBar"/>
        <activity android:name=".CommunicateActivity" />
        <activity android:name=".IncentiveActivity" />
        <activity android:name=".SelectActivity" />
        <activity android:name=".Train.TrainTaskActivity" />

        <activity android:name=".CreateImageActivity"
            android:theme="@style/AppThemeActionBar"/>
        <activity android:name=".CreateHintActivity"
            android:theme="@style/AppThemeActionBar">

        </activity>
    </application>

</manifest>
